@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=Josefin+Sans&family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;600;700&family=Ubuntu:wght@300&display=swap');

@import url("reset.css");
body {
   font-family: 'Ubuntu', "Montserrat", serif;
   font-size: 18px;
   color:#7D7D7D;
}

.title {
   font-family: "Bebas Neue", sans-serif;
   font-size: 30px;
   color: #6B77E5;
   text-transform: uppercase;
   text-shadow: 5px 2px 10px grey;
}
mark {
   font-style: italic;
   font-weight: 700;
   text-transform: uppercase ;
   text-decoration: underline;
   color: #6B77E5;
}

.sub-title {
font-style: italic;
font-weight: 600;
}

a {
color: rgba(50, 50, 139, 0.9);
text-decoration: none;
}

.route {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   color: #40DDB6;
   text-decoration: underline;
}


.part1 h3 {
   font-weight: 600;
   text-transform: capitalize;
}

.destination {
   text-decoration: underline;
   color: #6B77E5;
   font-style: oblique;
   
}

.apps {
   text-decoration: underline;
   color: #6B77E5;
}

.part2 h2 {
   text-decoration: underline;
color: #40DDB6;
font-weight: 600;
font-family: "Montserrat", sans-serif
}

.link {
color: #6B77E5;
font-style: oblique;
text-decoration: underline;
font-weight: 600;
}

.part3 h2,
.part4 h2,
.part2 h2,
.part5 h2 {
   color: #40DDB6;
   font-weight: 600;
   font-family: "Montserrat", sans-serif;
   text-decoration: underline;
}

h3 {
   color: black;
}

.down {
   text-transform: uppercase;
   text-align: justify;
text-decoration: underline;
letter-spacing: 5px;
text-shadow: 5px -5px 10px blue
}

.sample {
   color: #37393F;
   font-family: Poppins;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: 1.27; 
}

.text p {
   color: #7D7D7D;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 1.46; 
}

.sample-title {
   color: #6B77E5;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 1.27; 
}

.text2 {
   color: #7D7D7D;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 1.46;
}

.absatz {
   text-indent: 10px;
}